@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');
body {
  background-color :#f76930 !important;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container {
  margin: auto;
  padding-top: 0px;
}

.homepic {
  font-family:'Trebuchet MS';
  font-size: 40px;
  font-weight:bold;
  color:black;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  display:flex;
  justify-content: space-between; 
}

header {
  font-family: "Prompt";
  background-color: #15212a;
  margin: 0px auto 0px;
  margin-right: -919px;
  padding: 10px 0;
  grid-column: auto / span 2;
}

header .logo {
  font-size: 40px;
  color:white;
  margin: 25px;
  margin-left: 50px;
  margin-right: 20px;
  display:flex;
  justify-content: space-between; 
  align-items: center;
  line-height: 0px;
}

header .name {
  font-size: 25px;
  color:white;
  display:flex;
  justify-content: right; 
  margin-right: 150px;
  align-items: initial;
  line-height: 2px; 
}

footer {
  font-family: "Prompt";
  background-color: #15212a; 
  display: grid;
  text-align: left;
  padding: 0px 0;
  margin-right: -919px;
  position: fixed;
  bottom: 0;
}

footer .about {
  font-size: 35px;
  font-weight:bolder;
  color:white;
  justify-content: center; 
  padding-top: 25px;
  padding-left: 30px;
}

footer .aboutinfo {
  font-size:25px;
  color:white;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 44px;
}

footer .member {
  background-image: url('/member.jpg');
  margin : auto;
  display: flex;
  justify-content: space-around; 
  padding: 13px;
  padding-left: 80px;
  padding-right: 80px;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

footer .membername {
  font-weight:bolder;
  background-image: url('/member.jpg');
  font-size: 30px;
  color:black;
  align-items:stretch;
  margin : 0px;
  text-align:inherit;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-evenly; 
}